
.summary {
  text-align: center;
  position: relative;
  max-width: 35rem;
  padding: 10px;
  margin: auto;
  margin-top: -11rem;
  background-color: #3f3f3f;
  border-radius: 12px;
  color: white;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 1rem;
  margin-top: 0;
}